{% extends 'base.html.twig' %}

{% block title %}Connexion | BasketNPronos{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3 text-center">
            Vous êtes déjà connecté en tant que <b>{{ app.user.pseudo }}</b>. <br>
            <a href="{{ path('app_logout') }}" class="btn btn-danger my-2">Se déconnecter</a>
        </div>
    {% else %}
    <div class="mb-5">
        <h1 class="h3 mb-3 font-weight-normal mb-2 text-center">Connexion</h1>
        <div class="my-2">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control pwd" required autofocus>
        </div>
        <div class="my-2">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
        <div class="text-center">
            <button class="btn btn-primary my-2" type="submit">
                Connexion
            </button>
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}
