{% extends 'base.html.twig' %}

{% block title %}Communauté | BasketNPronos{% endblock %}

{% block body %}
    {% for messages in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert" tabindex="0">&times;</button>
            {{ messages }}
        </div>
    {% endfor %}

    <h2 class="text-center my-4">Communauté</h2>
    {% if not is_granted('ROLE_ADMIN') %}
        <div class="my-4">
            <h3>Rédiger un avis :</h3>
            {% if app.user and isVIP %}
                <div class="text-center">
                    {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        <div class="d-flex flex-row justify-content-between mt-4">
                            {{ form_row(form.captcha) }}
                            {{ form_row(form._token) }}
                            {{ form_row(form.poster) }}
                        </div>
                    {{ form_start(form) }}
                </div>
            {% endif %}
            {% if app.user and not isVIP %}
                <div class="border p-4 text-center">
                    Vous devez être <span class="text-warning">VIP</span> pour pouvoir rédiger un avis.<br>
                    <div class="d-flex my-2 justify-content-center">
                        <a class="btn btn-primary mt-2 mr-2" href="{{ path("join_us") }}">
                            Devenir <span class="text-warning">VIP</span>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if not app.user %}
                <div class="border p-4 text-center">
                    Vous devez être connecté et <span class="text-warning">VIP</span> pour pouvoir rédiger un avis.<br>
                    <div class="d-flex my-2 justify-content-center">
                        <a class="btn btn-secondary border mt-2 mr-2" href="{{ path("app_login") }}">Connexion</a>
                        <a class="btn btn-primary mt-2 mr-2" href="{{ path("join_us") }}">Nous rejoindre</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md">
            <h4 class="text-center mb-4">Galerie</h4>
            {% if gallery is not empty %}
                {% for post in gallery %}    
                    <div class="mb-2">
                        <div class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">{{ post.title }}</h4>
                                <span class="text-muted">{{ post.createAt|date('d-m-Y H:i:s') }}</span>
                            </div>
                            <div class="my-2 text-secondary">{{ post.content|raw }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center my-4 border p-4 text-muted">
                    Aucune image disponible
                </div>
            {% endif %}
        </div>
        <div class="col-md">
            <h4 class="text-center mb-4">Avis</h4>
            {% if comments is not empty %}
                {% for comment in comments %}
                <div class="mb-2">
                    <div class="list-group-item flex-column align-items-start" id="comment-zone">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{ comment.user.pseudo }}</h6>
                            <span class="text-muted">{{ comment.createAt|date('d-m-Y H:i:s') }}</span>
                        </div>
                        <div class="my-2 text-secondary">{{ comment.content }}</div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="text-center my-4 border p-4 text-muted">
                    Aucun commentaire
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
