<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{{ path('home') }}">Basket<span class="text-warning">N</span>Pronos</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01" style="">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('history') }}">Historique</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('community') }}">Communauté</a>
        </li>
        {% if app.user and app.user.isVIP %}
            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ path('currentPronostic') }}">
                    <i class="fas fa-star"></i> Pronostiques <i class="fas fa-star"></i>
                </a>
            </li>
        {% endif %}
        {% if app.user and not app.user.isVIP and not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link text-warning" href="{{ path('join_us') }}">
                    <i class="fas fa-medal"></i> Devenir V.I.P
                </a>
            </li>
        {% endif %}
        {% if not app.user %}    
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ path('join_us') }}">
                    <i class="fas fa-user-friends"></i> Nous rejoindre
                </a>
            </li>
        {% endif %}
    </ul>
    {% if app.user %}
    <div class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Bonjour, <b>{{ app.user.pseudo}}</b>
        </a>
        <div class="dropdown-menu text-center">

        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a class="dropdown-item p-2" href="{{ path('admin_dashboard') }}">Tableau de bord</a>
            <div class="dropdown-divider"></div>
        {% endif %}

          <a class="dropdown-item p-2" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
    {% else %}
        <a href='{{ path('app_login') }}' class="btn btn-secondary">Connexion</a>
    {% endif %}
  </div>
</nav>