{% extends 'base.html.twig' %}

{% block title %}BasketNPronos{% endblock %}

{% block body %}
    <h1>Pronostic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pronostic.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ pronostic.title }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ pronostic.category.name }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ pronostic.content }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ pronostic.createAt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pronostic_index') }}">back to list</a>

    <a href="{{ path('pronostic_edit', {'id': pronostic.id}) }}">edit</a>

    {{ include('pronostic/_delete_form.html.twig') }}
{% endblock %}
